.header {
	padding-top: 60px;
	position: relative;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;
		
		top: 0;
		left: 0;
	}
	&__info {
		margin-right: auto;
	}
	&__action {
		&-menu {
			display: flex;

			gap: 20px;
		}

		&-link {
			display: flex;
			align-items: center;
			gap: 20px;
			&-img {
				display: flex;
				padding: 5px;
				border-radius: 5px;
				&:hover {
					background-color: red;
				}
			}
		}
	}
}
